aioesphomeapi==9.1.5
aiofiles==0.7.0
aioredis==1.3.1
ajsonrpc==1.2.0
alabaster==0.7.12
amqp==5.0.6
anyio==3.3.4
apache-iotdb-nightly==0.11.2.20210408
appdirs==1.4.4
APScheduler==3.6.3
apt-clone==0.2.1
apturl==0.5.2
arrow==0.17.0
asgiref==3.3.4
astroid==2.9.0
async-timeout==4.0.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
Babel==2.9.1
backports.entry-points-selectable==1.1.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.8.2
billiard==3.6.4.0
bitstring==3.1.9
black==20.8b1
bleach==4.1.0
blinker==1.4
boto3==1.17.80
botocore==1.20.112
bottle==0.12.19
Brlapi==0.7.0
Brotli==1.0.9
bs4==0.0.1
cached-property==1.5.1
celery==5.0.5
certifi==2021.10.8
cffi==1.14.5
cfgv==3.3.1
channels==2.4.0
channels-redis==3.3.1
chardet==3.0.4
charset-normalizer==2.0.7
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
command-not-found==0.3
commonmark==0.9.1
configobj==5.0.6
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
coverage==6.1.2
cryptography==3.4.7
cupshelpers==1.0
daphne==2.5.0
dash==1.21.0
dash-bootstrap-components==0.12.2
dash-core-components==1.17.1
dash-html-components==1.1.4
dash-renderer==1.9.1
dash-table==4.12.0
dbus-python==1.2.16
defer==1.0.6
Deprecated==1.2.13
deprecation==2.1.0
distlib==0.3.3
distro==1.4.0
dj-database-url==0.5.0
Django==3.2.5
django-appconf==1.0.5
django-bootstrap4==2.3.1
django-cache-memoize==0.1.10
django-celery-beat==2.2.0
django-compressor==2.4.1
django-constance==2.8.0
django-cors-headers==3.7.0
django-crispy-forms==1.10.0
django-debug-toolbar==3.2.1
django-environ==0.4.5
django-extensions==3.1.5
django-filter==2.4.0
django-glrm==1.1.3
django-heroku==0.3.1
django-libsass==0.8
django-model-utils==4.1.1
django-money==2.1
django-npm==1.0.0
django-oauth-toolkit==1.5.0
django-picklefield==3.0.1
django-plotly-dash==1.6.5
django-prometheus==2.1.0
django-quill-editor==0.1.22
django-redis==5.0.0
django-rename-app==0.1.3
django-rest-swagger==2.2.0
django-sesame==2.1
django-sockpuppet==0.4.2
django-storages==1.11.1
django-tables2==2.4.0
django-tag-parser==3.2
django-tempus-dominus==5.1.2.16
django-timezone-field==4.2.1
django-turbo-response==0.0.28
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
dnspython==2.1.0
docker==5.0.3
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.18
dpd-components==0.1.0
dpd-static-support==0.0.5
drf-spectacular==0.16.0
ecdsa==0.17.0
entrypoints==0.3
esphome==2021.10.3
esphome-dashboard==20211021.1
esptool==3.1
et-xmlfile==1.1.0
filelock==3.4.0
flake8==3.8.4
Flask==2.0.2
Flask-Compress==1.10.1
fontawesomepro==6.1.0
future==0.18.2
geographiclib==1.52
geopy==2.2.0
grafana-api==1.0.3
grpcio==1.41.1
grpcio-tools==1.41.1
gunicorn==20.0.4
h11==0.12.0
hiredis==2.0.0
httpie==1.0.3
httplib2==0.14.0
httptools==0.1.2
hyperlink==21.0.0
identify==2.3.6
idna==2.10
ifaddr==0.1.7
imagesize==1.3.0
IMDbPY==6.8
importlib-metadata==4.8.2
importlib-resources==5.4.0
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
itsdangerous==2.0.1
itypes==1.2.0
jdcal==1.4.1
Jinja2==3.0.3
jmespath==0.10.0
josepy==1.11.0
jsonschema==4.2.1
jwcrypto==1.0
kconfiglib==13.7.1
keyring==18.0.1
kombu==5.0.2
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.6.0
libsass==0.21.0
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.3.4
MarkupSafe==2.0.1
marshmallow==3.14.0
mccabe==0.6.1
MonthDelta==0.9.1
more-itertools==4.2.0
mozilla-django-oidc==1.2.4
msgpack==1.0.2
mypy-extensions==0.4.3
nemo-emblems==5.2.0
netaddr==0.7.19
netifaces==0.10.4
nodeenv==1.6.0
noiseprotocol==0.3.1
numpy==1.21.4
oauthlib==3.1.1
onboard==1.4.1
openapi-codec==1.3.2
openpyxl==3.0.5
packaging==20.9
paho-mqtt==1.5.1
PAM==0.4.2
pandas==1.3.4
pathspec==0.9.0
patsy==0.5.2
pexpect==4.6.0
Pillow==8.4.0
pkginfo==1.7.1
platformdirs==2.4.0
platformio==5.2.1
plc-server-openapi-client==0.2.0
plotly==4.14.3
pluggy==0.13.1
portal-theme==0.2.9
portal-toolmanagement-client==0.1.6
pre-commit==2.9.3
prometheus-client==0.12.0
prompt-toolkit==3.0.22
protobuf==3.17.3
psutil==5.5.1
psycopg2==2.9.1
psycopg2-binary==2.9.1
py==1.10.0
py-moneyed==1.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.6.0
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pyelftools==0.27
pyflakes==2.2.0
Pygments==2.10.0
PyGObject==3.36.0
PyHamcrest==2.0.2
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
pymongo==3.11.3
Pympler==0.9
PyNaCl==1.3.0
pyncclient==0.7
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyparted==3.11.2
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.18.0
pyserial==3.5
pytest==6.2.4
pytest-cov==3.0.0
pytest-django==4.2.0
python-apt==2.0.0+ubuntu0.20.4.7
python-crontab==2.6.0
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-dotenv==0.17.1
python-magic==0.4.16
python-slugify==4.0.1
python-xapp==2.2.1
python-xlib==0.23
pytz==2020.1
pyxdg==0.26
PyYAML==5.4.1
qrcode==7.2
rcssmin==1.0.6
readme-renderer==30.0
recommonmark==0.7.1
redis==4.0.1
reedsolo==1.5.4
regex==2021.11.10
reportlab==3.5.34
requests==2.25.1
requests-file==1.4.3
requests-toolbelt==0.9.1
requests-unixsocket==0.2.0
retrying==1.3.3
rfc3986==1.5.0
rjsmin==1.1.0
s3transfer==0.4.2
scipy==1.7.2
SecretStorage==2.3.1
selenium==3.141.0
semantic-version==2.8.5
service-identity==21.1.0
setproctitle==1.1.10
simplejson==3.16.0
sip==4.19.21
six==1.15.0
sniffio==1.2.0
snowballstemmer==2.2.0
sorl-thumbnail==12.7.0
soupsieve==1.9.5
Sphinx==4.3.1
sphinx-autoapi==1.5.1
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.1
starlette==0.16.0
statsmodels==0.10.2
systemd-python==234
tablib==3.0.0
tabula-py==2.2.0
tabulate==0.8.9
testcontainers==3.2.0
text-unidecode==1.3
texttable==1.6.2
thrift==0.13.0
timezonefinder==5.2.0
tinycss2==1.0.2
tldextract==2.2.1
TLPUI==1.5.0
toml==0.10.2
tomli==1.2.2
tornado==6.1
tqdm==4.62.3
turbo-django==0.1.0
turbo-lazy==0.2.2
twine==3.6.0
Twisted==20.3.0
txaio==21.2.1
typed-ast==1.5.0
typing-extensions==4.0.0
tzdata==2021.5
tzlocal==3.0
ua-parser==0.10.0
ubuntu-drivers-common==0.0.0
ufw==0.36
Unidecode==1.1.1
uritemplate==4.1.1
urllib3==1.25.11
uvicorn==0.14.0
uvloop==0.15.2
veryfi==2.1.0
vine==5.0.0
virtualenv==20.10.0
voluptuous==0.12.2
wadllib==1.3.3
watchgod==0.7
wcwidth==0.2.5
webencodings==0.5.1
webpack-tools==0.2.0
websocket-client==1.2.1
websockets==8.1
Werkzeug==2.0.0
whitenoise==5.2.0
wrapt==1.13.2
wsproto==1.0.0
xkit==0.0.0
xlrd==2.0.1
xlwt==1.3.0
youtube-dl==2021.4.26
zeroconf==0.36.12
zipp==3.6.0
zope.interface==5.4.0
